.historyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listContainer {
  box-shadow: 2px 2px 2px 5px #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 80%;
}

.emptyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
